body {
  font-family: "Funnel Sans", serif;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}